{
    "listen":"${PROXY_LISTEN}",
    "weblisten":"${WEB_LISTEN}",
    "reverse":${REVERSE},
    "proxy_pass":"${REVERSE_PROXY}",
    "auth":${PROXY_AUTHORIZATION},
    "failover":"${PROXY_FAILOVER_ADDR}",
    "cache": false,
    "cache_timeout": 0,
    "log": ${LOG_LEVEL},
    "admin":"${ADMIN_PASSWORD}",
    "users":${PROXY_USER}
}