{
    "listen":"${PROXY_LISTEN:-tcp://:80}",
    "weblisten":"${WEB_LISTEN:-tcp://:8080}",
    "reverse":${REVERSE_PROXY:-false},
    "proxy_pass":"${REVERSE_PROXY_ADDR}",
    "auth":${PROXY_AUTHORIZATION:-true},
    "failover":"${PROXY_FAILOVER_ADDR}",
    "cache": false,
    "cache_timeout": 0,
    "log": ${LOG_LEVEL:-0},
    "admin":"${ADMIN_PASSWORD:-proxy}",
    "users":${PROXY_USER:-{}}
}